In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
file_path = '/Users/kushagraverma/Desktop/Kushagra Verma/VCIS Insights/VCIS Dataset.xlsx'

df = pd.read_excel(file_path)

In [3]:
df

,S.No.,Name of the Applicant,UG/ PG Program,College/ Department/ Centre
0,1,Aabis Mehdi,B.A. (Hons.) History,Dyal Singh College
1,2,Aadhila Parveen,B.A Program,Vivekananda College
2,3,Aadi Lakshmi Giri,B.Sc. (Hons.) Computer Science,Shaheed Rajguru College of Applied Sciences fo...
3,4,Aaditya Kumar Bagri,B.Com (Hons.),Shri Ram College of Commerce
4,5,Aadvika Patel,B.Sc. Programme Physical Sciences,Miranda House
...,...,...,...,...
2181,2182,Yuvraj Singh,B.Sc. (Hons.) Botany,Zakir Husain Delhi College
2182,2183,Yuvraj Tiwari,B.A Program,Shaheed Bhagat Singh College (Evening)
2183,2184,Zoya Hashmi,B.A. (Hons.) Political Science,Shyama Prasad Mukherji College for Women
2184,2185,Zoya Khan,B.Sc. (Hons.) Botany,Zakir Husain Delhi College
2185,2186,Zumra Irfan,B.Com (Hons.),Ramanujan College

### Data Cleaning

In [4]:
missing_values=df.isnull().sum()
missing_values

S.No.                          0
Name of the Applicant          0
UG/ PG Program                 6
College/ Department/ Centre    1
dtype: int64

In [5]:
df.dropna(inplace=True)

In [6]:
df.isnull().sum()

S.No.                          0
Name of the Applicant          0
UG/ PG Program                 0
College/ Department/ Centre    0
dtype: int64

### Basic Information

In [7]:
Number_of_applicants= df.shape[0]
print("The Number of applicants are : ",Number_of_applicants)

The Number of applicants are :  2179

In [8]:
Number_of_courses=df['UG/ PG Program'].nunique()
print("The Number of Courses are : ",Number_of_courses)

The Number of Courses are :  68

In [9]:
Number_of_colleges=df['College/ Department/ Centre'].nunique()
print("The Number of colleges are : ",Number_of_colleges)

The Number of colleges are :  89

### Exploratory Data Analysis

In [10]:
Course_wise_dist = df['UG/ PG Program'].value_counts()
print("Course Wise Distribution : ")

Course_wise_dist

Course Wise Distribution :

UG/ PG Program
B.A Program                           308
B.Com (Hons.)                         249
B.A. (Hons.) Political Science        182
B.Com                                 159
B.Sc. (Hons.) Mathematics             120
                                     ...
B.Sc. (Hons.) Environmental Scienc      1
M.Tech. (CAD/CAM)                       1
M.A. Geography                          1
B.A. (Hons.) Italian                    1
B.A. (Hons.) Bengali                    1
Name: count, Length: 68, dtype: int64

In [11]:
course_distribution = df['UG/ PG Program'].value_counts()
top_course = course_distribution.idxmax()
top_course_count = course_distribution.max()
print(f"Course with the most applicants: {top_course} ({top_course_count})")

Course with the most applicants: B.A Program (308)

In [12]:
Course_wise_dist = df['UG/ PG Program'].value_counts()
print("Top 5 Courses : ")
Course_wise_dist.head(5)

Top 5 Courses :

UG/ PG Program
B.A Program                       308
B.Com (Hons.)                     249
B.A. (Hons.) Political Science    182
B.Com                             159
B.Sc. (Hons.) Mathematics         120
Name: count, dtype: int64

In [13]:
course_distribution = df['UG/ PG Program'].value_counts()
lowest_course = course_distribution.idxmin()
lowest_course_count = course_distribution.min()
print(f"Course with the least applicants: {lowest_course} ({lowest_course_count})")

Course with the least applicants: Education (B.Ed.) (1)

In [14]:
College_wise_dist = df['College/ Department/ Centre'].value_counts()
print("College Wise Distribution : ")
College_wise_dist

College Wise Distribution :

College/ Department/ Centre
Daulat Ram College                   168
Miranda House                        167
Ramjas College                       124
Hans Raj College                     121
Kirori Mal College                   109
                                    ...
Department of Computer Science         1
eRamanujan College                     1
Department of Urdu                     1
Department of Sociology                1
School of Rehabilitation Sciences      1
Name: count, Length: 89, dtype: int64

In [15]:
college_distribution = df['College/ Department/ Centre'].value_counts()
top_college = college_distribution.idxmax()
top_college_count = college_distribution.max()
print(f"College with the most applicants: {top_college} ({top_college_count})")

College with the most applicants: Daulat Ram College (168)

In [16]:
college_distribution = df['College/ Department/ Centre'].value_counts()
bottom_college = college_distribution.idxmin()
bottom_college_count = college_distribution.min()
print(f"College with the least applicants: {bottom_college} ({bottom_college_count})")

College with the least applicants: FoT (1)

In [17]:
College_wise_dist = df['College/ Department/ Centre'].value_counts()
print("Top 5 Colleges : ")
College_wise_dist.head(5)

Top 5 Colleges :

College/ Department/ Centre
Daulat Ram College    168
Miranda House         167
Ramjas College        124
Hans Raj College      121
Kirori Mal College    109
Name: count, dtype: int64

In [32]:
course_college = df.groupby(['UG/ PG Program', 'College/ Department/ Centre']).size().reset_index(name='Applicant Count')

most_applicants_per_course = course_college.loc[course_college.groupby('UG/ PG Program')['Applicant Count'].idxmax()]

print(most_applicants_per_course)

                         UG/ PG Program  \
0    AB.Sc. Programme Physical Sciences
6                             Any other
14                   B. Tech. (IT & MI)
15                    B.A (Hons) German
22                B.A (Hons.) Economics
..                                  ...
536                      M.Sc.Chemistry
537                   M.Tech. (CAD/CAM)
538                      SB.Com (Hons.)
539                        TB.A Program
540            mB.Sc. (Hons.) Chemistry

                  College/ Department/ Centre  Applicant Count
0                             Shivaji College                1
6                 Deshbandhu College(Morning)                2
14                  Cluster Innovation Centre               13
15   Department of Germanic & Romance Studies                4
22                           Hans Raj College               10
..                                        ...              ...
536                   Department of Chemistry                3
537            Department of Computer Science                1
538                           Shivaji College                1
539          Delhi College of Arts & Commerce                1
540                             Miranda House                1

[68 rows x 3 columns]

In [33]:
college_course_popularity = df.groupby(['College/ Department/ Centre', 'UG/ PG Program']).size().reset_index(name='Applicant Count')


college_course_popularity = college_course_popularity.sort_values(by=['College/ Department/ Centre', 'Applicant Count'], ascending=[True, False])

print(college_course_popularity)

                    College/ Department/ Centre  \
4                  Acharya Narendra Dev College
2                  Acharya Narendra Dev College
6                  Acharya Narendra Dev College
0                  Acharya Narendra Dev College
3                  Acharya Narendra Dev College
..                                          ...
536  Zakir Husain Post Graduate Evening College
538  Zakir Husain Post Graduate Evening College
537  Zakir Husain Post Graduate Evening College
539  Zakir Husain Post Graduate Evening College
540                          eRamanujan College

                         UG/ PG Program  Applicant Count
4                 B.Sc. (Hons.) Zoology               12
2        B.Sc. (Hons.) Computer Science                5
6     B.Sc. Programme Physical Sciences                5
0       B.Sc (Hons.) Biomedical Science                3
3             B.Sc. (Hons.) Mathematics                3
..                                  ...              ...
536                         B.A Program                4
538      B.A. (Hons.) Political Science                2
537                B.A. (Hons.) English                1
539                               B.Com                1
540  B.Sc. (Hons.) Environmental Scienc                1

[541 rows x 3 columns]

In [32]:
cleaned_data=df.to_excel('C:/Users/Hp/Desktop/cleaned_data.xlsx',index=False)